{% extends 'base.html.twig' %}

{% block body %}
	<!-- WORK AREA -->
	<section id="explorer-section">
		<header>
			<div class="breadcrumbs-wrapper">
				<ul class="breadcrumbs">
					<li class="breadcrumb">
						<a href="{{path('home')}}">
							Extranet
						</a>
					</li>
				</ul>
			</div>
		</header>
		<div id="left-pane">
			{% if (app.user.roles[0] == 'ROLE_ADMIN') %}
			<ul id="toolbar">
				<header>
					Administration
				</header>
				<li>
					<a href="{{path('edit_user', {'userId': app.user.id})}}">Modifier mes paramètres</a>
				</li>
			</ul>
			{% endif %}
		</div>
		<section id="right-pane">
			<a class="element-link" href="{{path('new_user')}}">
				<div class="element">
					<div class="icon plus"></div>
					<div class="title">Nouveau client</div>
				</div>
			</a>
			{% if users|length > 0 %}
			{% for user in users %}
				{% if(user.roles[0] != 'ROLE_ADMIN') %}
				<a class="element-link" href="{{path('show_user', {'userId': user.id})}}">
					<div class="element">
						<div class="icon client"></div>
						{% if(user.company != '') %}
						<div class="title">{{user.company}}</div>
						{% elseif(user.gender != '' or user.familyName != '' or user.firstName != '') %}
						<div class="title">{{user.gender}} {{user.familyName}} {{user.firstName}}</div>
						{% else %}
						<div class="title">{{user.username}}</div>
						{% endif %}
					</div>
				</a>
				{% endif %}
			{% endfor %}
			{% else %}
				<p>Aucun client n'a été enregistrée pour le moment...</p>
			{% endif %}
		</section>
	</section>
	<!--
	<section id="form-name" class="popup">
		<header>Nom du formulaire</header>
		<form>
			<input type="text" name="gender" placeholder="Civilité">
			<input type="text" name="familyName" placeholder="Nom">
			<input type="text" name="firstName" placeholder="Prénom">
			<input type="submit" name="isSubmited" value="Envoyer">
		</form>
	</section>
	-->
{% endblock %}
